<div class="container">
    <div class="wrapper">
      <div class="title"><span>Đăng nhập</span></div>
      <form action="#">
        <label for="">Tài khoản</label>
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="email" required>
        </div>
        <label for="">Mật khẩu</label>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" required>
        </div>
        <div class="pass"><a href="#">Quên mật khẩu?</a></div>
        <div class="row button">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>