<div class="container">
  <div class="wrapper">
    <div class="title"><span>Đăng ký</span></div>
    <form
      #frm1="ngForm"
      (ngSubmit)="xuly(frm1.value)"
      class="col-10 m-auto border px-3 mt-2"
    >
      <div class="mb-3">
        <label for="ten">Tên</label>
        <input
          type="text"
          id="ten"
          name="ten"
          ngModel
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="mat_khau">Mật khẩu</label>
        <input
          type="password"
          id="mat_khau"
          name="mat_khau"
          ngModel
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <span>
          Đã có tài khoản? Vui lòng đăng nhập
          <a href="#" routerLink="/dang_nhap">tại đây</a>
        </span>
      </div>
      <div class="mb-3 text-center">
        <button class="btn btn-outline-success">Đăng ký</button>
      </div>
    </form>
  </div>
</div>
