<div align="top" class="bg-info-border-subtlep-1 fw-bold">
  DANH SÁCH NHÂN VIÊN
</div>
<table class="table table-bordered border border-primary">
  <thead>
    <tr>
      <th class="p-2">Tên Task</th>
      <th class="p-2">Mô Tả</th>
      <th class="p-2">Priority</th>
      <th class="p-2">Status</th>
      <th class="p-2">Nhân Viên</th>
      <th class="p-2">Dự Án</th>
      <th class="p-2">Hành Động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of list_task">
      <td class="p-2">{{ task.ten_task }}</td>
      <td class="p-2">{{ task.mo_ta }}</td>
      <td class="p-2">{{ task.priority }}</td>
      <td class="p-2">{{ task.status }}</td>
      <td class="p-2">{{ task.nhan_vien_id }}</td>
      <td class="p-2">{{ task.du_an_id }}</td>
      <td class="p-2">
        <button class="btn btn-primary me-2" (click)="suaTask(task.id)">
          Sửa
        </button>
        <button class="btn btn-danger" (click)="xoaTask(task.id)">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
