.container {
  display: inline-flex;
  height: 1000px;
}

.sidebar {
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.sidebar h3,
.sidebar h4,
.sidebar h6 {
  text-align: center;
  margin: 10px 0;
}
.asibe h6 {
  text-align: center;
  margin: 10px 0;
}
.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.avatar img {
  border-radius: 50%;
  width: 120px;
  height: 160px;
}

.table,
.table2 {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table2 th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.content {
  width: 60%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  position: relative;
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #4caf50;
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.chi_tiet {
  margin-top: 20px;
}

.tieu_de1,
.tieu_de2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(85, 181, 94);
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: rgb(90, 131, 94);
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.aside {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
